body{
   font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* Inicio da Navbar */

.navcima img{
   height: 100px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.navbar a{
   text-decoration: none;
   color: #353535;   
   font-weight: bolder;
}

.navcima a{
   text-decoration: none;
   color: #353535; 
   padding: 10px 20px 10px 20px;  
   background-color: #fff;
   font-weight: bolder;
   border-radius: 20px;
}  

.buttons {
   display: flex;
   gap: 20px;
}

.navcima {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #353535;
}

.navbar{
   display: flex;
   list-style: none;
   background-color: #D9D9D9;
   align-items: center; 
   padding-top: 20px;
   padding-bottom: 20px;
   justify-content: space-around;
   width: 100%;
}

.navbar ul{
   list-style: none;
   display: flex;
   gap: 30px;
   justify-content: space-between;
   width: fit-content;
}
/* Fim da Navbar */




/* footer */

footer {
   background-color: #353535;
}
footer p {
   color: #D9D9D9;
   text-align: center;
}