@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;0,900;1,400;1,800&display=swap");

:root {
  --primary-color: #3941a0;
}
a {
  text-decoration: none;
  color: #000;
}
ul.links-menu{
  margin: 0;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
}
h1,h2{
    margin: 10px;
    text-align: center;
    padding: 10px;
    font-size: 27px;
    color: #3941a0;
}
.bairro{
  font-size: 20px;
  padding-bottom: 10px;
  position: absolute;
  padding-left: 15px;
  color: #3941a0;
}
.bairro2{
    font-size: 20px;
    background-color: #d9d9d9;
    display: block;
}

.palavrinhas{
  padding-top: 60px;
  margin-left: 20px;
  position: absolute;
}

.imagem {
  text-align: end; 
  padding-bottom: 20px;
}
.container-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  min-width: 100%;
  align-items: center;
  align-content: flex-end;
}

.cards img {
  height: 150px;
}

.container-cards-title h1 {
  text-align: center;
  font-size: 25px;
  margin: 30px;
}
.order{
padding-bottom: 40px;
}

@media(max-width: 900px){
  .imagem{
    display: flex;
    flex-direction: column;
  }
  .bairro{
    display: flex;
    flex-direction: column;
  }
  .bairro2{
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 300px){
  .imagem{
    display: flex;
    flex-direction: row;
  }
  .bairro{
    display: flex;
    flex-direction: row;
  }
  .bairro2{
    display: flex;
    flex-direction: row;
  }
}