  /* Texto Sobre nossos Serviços */

  /* Inicio da Main */



  /* Texto Sobre nossos Serviços */
  body{
    background-color: #FFF;
  }
  .about-services{
    background-color: #d9d9d9;
  }

  .txt-solucoes{
    padding-left: 30px;
    padding-right: 30px;
  }

  .content{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 2px solid var(--primary-color);
  }

  .content i{
    font-size: 60px;
  }

  .content  > *{
    flex: 1 1 100%;
  }


  .content h2{
    margin: 16px 0;
  }

  .content p{
    font-size: 17px;

  }

  .content a{
    margin: 20px 0;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 15px 0;
    font-weight: 600;
    }


  /* Ajuste Mobile cards */
  @media(max-width: 900px){
    .services{
      display: flex;
      flex-direction: column;
    }
  }
  .container{
    /* max-width: 1100px; */
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  }
  .container h1{
    font-size: 25px;
    margin-bottom: 10px;
  }

  .container a{
    color: var(--primary-color);
    transition: .2s;
  }
  




  .about-services{
    background-color: #d9d9d9;
  }


  .services{
    display: flex;
    }

  .content{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 2px solid var(--primary-color);
    align-content: flex-end;
  }

  .content i{
    font-size: 60px;
  }

  .content  > *{
    flex: 1 1 100%;
  }


  .content h2{
    margin: 16px 0;
  }

  .content p{
    font-size: 17px;

  }

  .content a{
    margin: 20px 0;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 15px 0;
  }

  .content a:hover{
    background: var(--secondary-color);
  }


  /* Ajuste Mobile cards */
  @media(max-width: 900px){
    .services{
      display: flex;
      flex-direction: column;
    }
  }

  /* Sessão Outros Serviços */


  
.other-services h2{
  font-size: 25px;
}

.other-services ul{
  margin-top: 30px;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.other-services ul li{
  display: inline-flex;
  align-items: center;
}

.other-services a{
  box-sizing: border-box;
  padding: 10px 5px;
  background-color: rgb(215, 223, 223);
  margin: 5px;
  font-weight: 600;
  transition: .2s;
}

.other-services a:hover{
  color: #5661d8;
  background-color: rgb(252, 252, 252);
}

.container h3 a:hover{
  color:  #969aca;
}


/* Ajustes Mobile */
@media only screen and (max-width: 600px) {
  ul{
    text-align: left;
  }

  .other-services ul li a{
    margin: 2;
    padding: 5px;
  }


}